@{
	ViewBag.Title = "Rank Anything";
}

@model List<RankingItem>

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Rank Anything</title>
	</head>

	<body>
		<h1>Rank Anything!</h1>
		<p>Welcome to a super cool basic static HTML page powered by Azure Web Apps! Here's some text</p>

		<form action="/SubmitItem" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required><br><br>

			<label for="image">Image URL:</label>
			<input type="text" id="image" name="image" required><br><br>

			<input type="submit" value="Submit">
		</form>

		<h2>Ranking:</h2>
		<ul>
			@foreach (var item in Model)
			{
				<li>@item.Name - Votes: @item.VoteCount</li>
			}
		</ul>

	</body>

</html>